<div class="row col-s-1 col-e-5 row-s-0 row-e-1">
    <div class="top col-s-1 col-e-4">Rolls</div>
    <div class="top  col-s-5 col-e-1"><span>Total</span></div>
</div>
@for (arr of rolls; let i = $index; track i) {
    <div [class]="'row col-s-1 col-e-5 row-s-' + (i * 2 + 2) + ' row-e-1'">
        @for (elem of arr; let j = $index; track j) {
        <div [class]="'col-s-' + (j + 1) + ' col-e-1'">
            <img [src]="D6" alt="D6 Icon" 
            (click)="reveal(i, j)" [hidden]="revealedRolls[i][j] != 'HIDDEN'">  
            <span [class]="'cell ' + (revealedRolls[i][j] == 'REMOVED' && 'removed')" (click)="remove(i, j)">{{elem}}</span>
        </div>
        }
        <div [class]="'total col-s-' + 5 + ' col-e-1'" (click)="revealRow(i)">
            <span [hidden]="revealedTotals[i] == 'HIDDEN'">{{totals[i]}}</span>
        </div>
    </div>
    @if (i < 5) {
        <hr [class]="'separator col-s-1 col-e-5 row-s-' + (i * 2 + 3)" />
    } 
}

<div class="row control col-s-1 col-e-5 row-s-14 row-e-1">
    <div class="top col-s-1 col-e-4" (click)="emitFinish()">Finish rolling</div>
    <div class="top col-s-5 col-e-1" (click)="openHelp()">Help</div>
</div>