html {
  --bgc1: #222831;
  --bgc2: #393E46;
  --bgc3: #948979;
  --bgc4: #DFD0B8;
  --bgc5: #c4a470;
  --darker-accent: #11151a;
  --dark-accent: #1e2125;
  --light-accent: #f1eadf;
  --red-accent: #c53e43;
  --complement1: #3EC5C0;
  --complement2: #3E87C5;
  --disabled: #B0B0B0;
  --dark-text: #060708;
  --light-text: #efe9e9;
  --main-title-font:  "Roboto Slab", serif;
  --title-font: "Montserrat", sans-serif;
  --text-font: "Quicksand", sans-serif;
}