<div>
    <span>So... <span class="red bold">D&D</span>. As simple as that.</span>

    <p>Build your character to your liking. Write its <span class="red bold">name</span>, its <span class="red bold">backstory</span>. Flesh it out to your heart's content.</p>

    <p>Chose their <span class="bold">class</span> and <span class="bold">race</span> from several options.</p>

    <p><span class="red bold">Classes</span> will determine their path to glory: Their skills, their future equipment, their proficiencies, their saving dice.</p>

    <p><span class="red bold">Races</span> determine culture, physical form, racial skills, and, of course, greatly useful <span class="bold">stat</span> bonuses.</p>

    <p>Though skills and the such are not listed here. That's for you to search and chose. Where's the fun on making a character if there's no effort behind?</p>

    <p>As for <span class="red bold">stats</span>, well, of course, dice come to play. As per usual, you must throw <span class="bold">four six-faced dice (D6) and discard one</span>, add up the remaining results, and <span class="bold">repeat until you have six totals</span></p>

    <p>Once you got your rolls done, you assign them to each of the <span class="bold">six stats: </span><span class="italic">Constitution, Strength, Dexterity, Wisdom, Intelligence and Charisma</span>.</p>

    <p>In here, you can either <span class="bold">roll one die at a time</span> by clicking on them, uncovering one single value each time, or click the empty total to <span class="bold">uncover the whole row</span>.</p>

    <p>Once the row is fully uncovered, <span class="bold">click one of the rolls to discard it</span>. Don't worry, you can change your mind in case you misclick one.</p>

    <p>Rinse and repeat for each row, and ta-da, you got your rolls. Remember <span class="bold">all rolls must be uncovered and one must be discarded</span> to continue. Click "<span class="bold">Finish rolling</span>" and proceed to assign one total per each stat.</p>

    <p>While you build your character you can see a cleaner sheet of how it will look on the right.</p>

    <p>When you're finished assignin stats, race, class, and, of course and most importantly, a representative name for your character, you can press "<span class="bold">Save</span>" and that's it, your character is done. If you want to check on it later on, you can look for it in the "<span class="bold">Memory</span>" section.</p>
</div>
