:host {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: .5rem 1rem;
  border: 1px solid var(--red-accent);
  border-radius: .5rem;

  span {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.1rem;
  }
}